.menu {
  display: flex;
  flex-direction: column;
  height: 100vh; /* Asegurar que ocupe toda la pantalla */
  width: 210px;
  background-color: #f1f5f9;
  transition: width 0.3s ease-in-out;
  overflow: hidden;
}

/* Cuando el sidebar está colapsado */
.menu.collapsed {
  width: 70px;
}


.logo {
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
  color: #27374d;
}

.menu-toggle {
  background: none;
  border: none;
  cursor: pointer;
  font-size: 1.5rem;
  color: #27374d;
}

.menu--list {
  display: flex;
  flex-direction: column;
  gap: 15px;
  overflow: hidden;
}

.menu--list .item {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 1.1rem;
  text-decoration: none;
  font-weight: 600;
  padding: 10px;
  border-radius: 10px;
  transition: 0.3s ease-in-out;
  color: #27374d;
}

.menu--list .item .icon {
  font-size: 1.4rem;
}

.menu.collapsed .item span {
  display: none;
}
