.create-client {
    width: 100%;
    padding: 30px;
    background-color: #f5f7fa;
    border-radius: 10px;
}

h2 {
    margin-bottom: 15px;
    font-size: 1.5rem;
    
}

.client-worker-table h3,
.client-admin-table h3 {
    margin-bottom: 10px;
}


.ruc-search, .client-worker-table {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 10px;

.client-admin-table {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 10px;
}
}
.client-general-data {
    margin-bottom: 20px;
    background: white;
    padding: 15px;
    border-radius: 10px;
    display: flex;  /* Asegura que gap funcione */
    flex-direction: column;  /* Mantiene los elementos alineados verticalmente */
    gap: 10px; /* Aumenta ligeramente el espacio entre los elementos */
}




input, select {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
}

button {
    padding: 10px;
    border: none;
    background-color: #4a90e2;
    color: white;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 15px; /* Agrega más espacio entre la tabla y el botón */
}


table {
    width: 100%;
    border-collapse: collapse;
}

th, td {
    border: 1px solid #ddd;
    padding: 8px;
    text-align: left;
}

th {
    background-color: #4a90e2;
    color: white;
}

.static-data {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
    border-radius: 5px;
    border: 1px solid #ccc;
    background-color: #f5f5f5; /* Mantiene el diseño similar a los inputs */
    color: #333;
}

