/* Ajuste global para ocupar toda la pantalla */
html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  overflow: auto; /* Evita cualquier desplazamiento no deseado */
}

/* Asegurar que el dashboard ocupe toda la pantalla */
.dashboard {
  display: flex;
  width: 100vw;
  height: 100vh; /* Ocupar toda la altura */
  transition: all 0.3s ease-in-out;
}

/* Ajustar el contenido para que se adhiera correctamente */
.dashboard--content {
  flex-grow: 1;
  background: #fff;
  border-radius: 20px;
  padding: 2rem 1.5rem 2rem 0.5rem;

  display: flex;
  flex-direction: column;
  gap: 1rem;
  max-width: calc(100vw - 250px); /* Ajuste del ancho */
  height: 100vh; /* Que ocupe toda la pantalla */
  overflow-y: auto; /* Permitir scroll solo si es necesario */
  transition: all 0.3s ease-in-out;
}

/* Cuando el sidebar está colapsado */
.sidebar-collapsed .dashboard--content {
  max-width: calc(100vw - 70px);
}
@media (max-width:1024px){
  .dashboard, .dashboard--content { all: unset; } /* desactiva el grid viejo */
}
